XY_POI/WebContent/wsdl/POIManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://data.xy_poi.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://data.xy_poi.org" xmlns:intf="http://data.xy_poi.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://data.xy_poi.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="insertPOI">
    <complexType>
     <sequence>
      <element name="poi" type="impl:POI"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="POI">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="x" type="xsd:int"/>
     <element name="y" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="insertPOIResponse">
    <complexType/>
   </element>
   <element name="getPOIs">
    <complexType>
     <sequence>
      <element name="x" type="xsd:double"/>
      <element name="y" type="xsd:double"/>
      <element name="max_distance" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPOIsResponse">
    <complexType>
     <sequence>
      <element name="getPOIsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPOIsRequest">

      <wsdl:part element="impl:getPOIs" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertPOIResponse">

      <wsdl:part element="impl:insertPOIResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPOIsResponse">

      <wsdl:part element="impl:getPOIsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertPOIRequest">

      <wsdl:part element="impl:insertPOI" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="POIManager">

      <wsdl:operation name="insertPOI">

         <wsdl:input message="impl:insertPOIRequest" name="insertPOIRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertPOIResponse" name="insertPOIResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPOIs">

         <wsdl:input message="impl:getPOIsRequest" name="getPOIsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPOIsResponse" name="getPOIsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="POIManagerSoapBinding" type="impl:POIManager">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insertPOI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertPOIRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertPOIResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPOIs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPOIsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPOIsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="POIManagerService">

      <wsdl:port binding="impl:POIManagerSoapBinding" name="POIManager">

         <wsdlsoap:address location="http://localhost:8080/XY_POI/services/POIManager"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
