XY_POI/WebContent/wsdl/POIMain.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://xy_poi.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://xy_poi.org" xmlns:intf="http://xy_poi.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://xy_poi.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="insertPOI">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="x" type="xsd:int"/>
      <element name="y" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertPOIResponse">
    <complexType>
     <sequence>
      <element name="insertPOIReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllPOIs">
    <complexType/>
   </element>
   <element name="getAllPOIsResponse">
    <complexType>
     <sequence>
      <element name="getAllPOIsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNearestPOIs">
    <complexType>
     <sequence>
      <element name="x" type="xsd:int"/>
      <element name="y" type="xsd:int"/>
      <element name="max_dist" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNearestPOIsResponse">
    <complexType>
     <sequence>
      <element name="getNearestPOIsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllPOIsRequest">

      <wsdl:part element="impl:getAllPOIs" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNearestPOIsResponse">

      <wsdl:part element="impl:getNearestPOIsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertPOIResponse">

      <wsdl:part element="impl:insertPOIResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertPOIRequest">

      <wsdl:part element="impl:insertPOI" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNearestPOIsRequest">

      <wsdl:part element="impl:getNearestPOIs" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllPOIsResponse">

      <wsdl:part element="impl:getAllPOIsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="POIMain">

      <wsdl:operation name="insertPOI">

         <wsdl:input message="impl:insertPOIRequest" name="insertPOIRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertPOIResponse" name="insertPOIResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllPOIs">

         <wsdl:input message="impl:getAllPOIsRequest" name="getAllPOIsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllPOIsResponse" name="getAllPOIsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNearestPOIs">

         <wsdl:input message="impl:getNearestPOIsRequest" name="getNearestPOIsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNearestPOIsResponse" name="getNearestPOIsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="POIMainSoapBinding" type="impl:POIMain">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insertPOI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertPOIRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertPOIResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllPOIs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllPOIsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllPOIsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNearestPOIs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNearestPOIsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNearestPOIsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="POIMainService">

      <wsdl:port binding="impl:POIMainSoapBinding" name="POIMain">

         <wsdlsoap:address location="http://localhost:8080/XY_POI/services/POIMain"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
